AddDefaultCharset UTF-8

# Propagar header Authorization a PHP (problema común en Apache/CGI/FastCGI)
SetEnvIf Authorization "^(.+)$" HTTP_AUTHORIZATION=$1

RewriteEngine On
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%1]
